.instructionCard {
  width: 300px;
  margin: 50px 30px;
  border-radius: 10px;
  padding: 20px;
  background-color: #fefaf6;
  color: #102c57;
  border: 1px solid #eadbc8;
}
.instructionCard h3 {
  margin: 0;
  font-weight: 500;
  background-color: #fefaf6;
}
.instructionCard p {
  font-weight: 400;
  font-size: 14px;
  background-color: #fefaf6;
}

@media (max-width: 1536px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1280px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
  .instructionCard {
    margin: 25px 15px;
    padding: 10px;
  }
}
@media (max-width: 640px) {
  .instructionCard {
    margin: 20px 10px 0 10px;
    padding: 10px;
  }
  .instructionCard h3 {
    font-size: 16px;
  }
  .instructionCard p {
    font-size: 12px;
  }
}
@media (max-width: 475px) {
  .instructionCard {
    margin-bottom: 20px;
  }
  .instructionCard h3 {
    font-size: 14px;
  }
  .instructionCard p {
    font-size: 10px;
  }
}
