.logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #102c57;
  z-index: 1000;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fefaf6;
  margin: 50px 0;
}
.logo h1 {
  font-size: 70px;
  letter-spacing: -5px;
  margin: 0;
}
.logo h1 a {
  text-decoration: none;
}
.logo p {
  font-size: 15px;
  margin: 0;
}

@media (max-width: 1536px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1280px) {
}
@media (max-width: 1024px) {
  .logo {
    margin: 25px 0;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 475px) {
  .logo {
    margin: 25px 0;
  }
  .logo h1 {
    font-size: 60px;
  }
  .logo p {
    font-size: 15px;
    margin: 0;
  }
}
