.logo {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
  color: #102c57;
}
.logo h1 {
  font-size: 70px;
  letter-spacing: -5px;
  margin: 0;
}
.logo h1 a {
  text-decoration: none;
}
.logo p {
  font-size: 15px;
  margin: 0;
}
