.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .fileUpload {
  background-color: #fefaf6 !important;
}
.fileUpload p {
  background-color: #fefaf6 !important;
} */
