.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #102c57;
}
.description {
  margin-top: 20%;
}
.description h2 {
  margin: 0;
  font-weight: 500;
}
.description p {
  color: #102c57;
}
.logo h1 {
  font-size: 70px;
  letter-spacing: -5px;
  margin: 0;
}
.logo p {
  font-size: 15px;
  margin: 0;
}
.instructionCards {
  display: flex;
  justify-content: center;
}

@media (max-width: 1536px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1280px) {
  .description {
    margin-top: 25%;
  }
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
  .description {
    margin-top: 35%;
  }
}
@media (max-width: 640px) {
  .description {
    margin-top: 45%;
  }
  .description h2 {
    font-size: 22px;
  }
  .description p {
    font-size: 14px;
  }
}
@media (max-width: 475px) {
  /* .instructionCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
}
