.main {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.description {
  margin-top: 3%;
}
.description h2 {
  margin: 0;
  font-weight: 500;
}
.description p {
  color: rgb(90, 90, 90);
}
.logo h1 {
  font-size: 70px;
  letter-spacing: -5px;
  margin: 0;
}
.logo p {
  font-size: 15px;
  margin: 0;
}
.instructionCards {
  display: flex;
  justify-content: center;
}
