.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 80%;
}
.chatHistory {
  flex: 1;
  overflow-y: auto;
}
.chatForm {
  position: sticky;
  bottom: 0;
  padding: 10px;
  width: 100%;
  background-color: #fefaf6;
}

@media (max-width: 1536px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1280px) {
  .container {
    padding: 0 100px;
  }
}
@media (max-width: 1024px) {
  .container {
    padding: 0 50px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 25px;
  }
}
@media (max-width: 640px) {
  .container {
    padding: 0 12px;
  }
}
@media (max-width: 475px) {
  .container {
    padding: 0 6px;
  }
}
